#isEdit {
  display: none;
  flex-direction: column-reverse;
  left: 25%;
  top: 50%;
  margin-left: -25%;
  position: absolute;
  margin-top: -25%;
}

#addForm {
  margin-top: 10px;    
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
