#isEdit {
  display: none;
  flex-direction: column-reverse;
  top: 20%;
  margin-left: 42%;
  position: absolute;
  margin-top: -5%;
}

#addForm {
  margin-top: 10px;    
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
    text-align: center;
}

form {
  margin-left: 42%;
}

body {
  background-color: white;
}